@media (prefers-reduced-motion: no-preference) {
    html {
      scroll-behavior: smooth;
    }
}

* {
    font-family: sans-serif;
    box-sizing: border-box;
    color: white;
}

a {
    text-decoration: none;
}

body {
    background-color: #181719;
    margin: 0;
}

header {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    background-color: rgb(112, 22, 22);
    position: sticky;
    top: 0;
    
    z-index: 10;
}

nav {
    display: flex;
    justify-content: flex-end;
    padding: 15px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 95%;
}

nav li {
   margin: 0 10px;
}

nav a {
    padding: clamp(0.75rem, 1.7vw, 1.375rem) clamp(1.5rem, 5vw, 3rem);
    background-color: rgb(112, 22, 22);
    color: white;
    font-size: clamp(0.875rem, 1.17vw, 1.125rem);
}

nav a:hover, nav a:focus-visible {
    background-color: #181719;
    box-shadow: 0 2px 0 #181719;
}

nav a:active {
    background-color: #3a3d40;
    
}

.welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: clamp(32rem, 100vh, 64rem);
    background-color: #000;
    color: white;
    background-image: linear-gradient(62deg, #3a3d40 0%, #181719 100%);
}

.welcome-section h1 {
    font-size: clamp(2.25rem, 5.05vw, 4rem);
    padding: 0;
    margin: 0;
}

.welcome-section > p {
    padding: 0;
    margin: 0;
    font-size: clamp(1.25rem, 3.03vw, 2.25rem);
    color: rgb(112, 22, 22);
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    justify-content: center;

    text-align: center;
}

.projects-header {
    width: 100%;
    font-size: clamp(2.25rem, 5.05vw, 4rem);
    margin-bottom: 20px;
}

.project-tile {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    width: 100%;


    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-img {
    display: block;
    min-width: 20vw;
    min-height: 20vw;
     
    max-width: 24vw;
    max-height: 24vw;
    object-fit: scale-down;
    margin-right: 15px;
    border-right: 8px;

    transition: opacity .5s ease;
}

.project-text {
    padding: 15px;
    flex-grow: 1;
}

.project-text p {
    font-size: clamp(1rem, 2.02vw,1.375rem);
    line-height: 1.5;
}

.project-name {
    font-size: clamp(1.375rem, 3.54vw, 2.5rem);
    margin: 0;
}

.project-hover-text {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgb(112, 22, 22);
    color: white;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    padding: 16px 32px;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
    transform: translateY(100%);  
}

.project-image {
    position: relative;
    z-index: 1;
}

/*Hover fade effect*/
.project-image:hover .project-img {
    opacity: 0.3;
}

.project-image:hover .project-hover-text {
    opacity: 1;
    transform: translateY(0);
}

.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.contact-header {
    font-size: clamp(2.25rem, 5.05vw, 4rem);
}

.contact-desc {
    display: flex;
    justify-content: center;
}

.contact-container {
    padding: 20px;
    max-width: 60rem;
    width: 70%;
}

form {
    width: 100%;
    max-width: clamp(22rem, 36vw, 40rem);
    margin: 0 auto;
    padding-bottom: 2em;
} 

fieldset {
    border: none;
    padding: 2rem 0;
    border-bottom: 3px solid #3b3b4f;
    display: block;
}

fieldset:last-of-type {
    border-bottom: none;
}

label {
    display: block;
    margin: 0.5rem 0;
}

input, textarea {
    background-color: #3a3d40;
    border: 1px solid #3a3d40;
    color: #ffffff;

    width: 100%;
    padding: 0.8rem;
}

input,
textarea,
select {
    margin: 10px 0 0 0;
    width: 100%;
    min-height: 2em;
    font-size: clamp(0.875rem, 2vw, 1.25rem);
}

textarea {
    resize: vertical;
    height: clamp(10rem, 19.5vw, 20rem);
}

.inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    background-color: rgb(112, 22, 22);
    border-color: white;
    height: clamp(2.5rem, 3.9vw, 4rem);
    font-size: clamp(1rem, 2.02vw, 1.375rem);
    min-width: clamp(13.75rem, 11.7vw, 20rem);
}

footer {
    background-color: #3a3d40;
    height: clamp(3rem, 5.05vw, 5rem);
}

.social-icons {
    display: flex;
    align-items: center;  
    width: 100%;
    justify-content: space-evenly;
    height: clamp(3rem, 5.05vw, 5rem);
}

.social-icons a:active {
    color: white;
}

.social-icons a:hover {
    color: white;
}

.social-icons a:visited {
    color: white;
}

.social-icons a:link {
    color: white;
}

.about-header {
    text-align: center;    
    font-size: clamp(2.25rem, 5.05vw, 4rem);
}

.about-desc {
    font-size: clamp(1rem, 2.02vw, 1.375rem);
    padding: clamp(1.5rem, 5vh, 4rem) clamp(1rem, 20vw, 15rem);
}

.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 16px;
    margin: 0 auto;
    padding: 20px 10px;
    max-width: clamp(30rem, 54.7vw, 55rem);
}

.languages i {
    font-size: 4.5rem;
    line-height: 1;
    margin-bottom: 6px;
}

.lang-tile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.languages p {
    display: flex;
    justify-content: center;
}

.resume-link {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 2.02vw, 1.375rem);
}

.resume-preview {
    display: inline-block;
    padding: 5px;
}

.resume-download {
    margin-right: 8px;
}
